.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  min-height: 100vh;
  padding: 20px;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.light-mode {
  background-color: #fff;
  color: #333;
}

.toggle-container {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}
